@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Bilbo+Swash+Caps&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------- General ------------------*/
body {
    font-family: 'Bitter', sans-serif;
}
a {
    text-decoration: none;
    color: #181E35;
}
a:hover {
    text-decoration: none;
    color: #181E35;
}
.content {
    margin-top: 80px;
}
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bi-star,
.bi-star-fill,
.bi-star-half {
    color: #FFC300;
}
h3 {
    font-family: 'Bitter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
h4 {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.esimeneRida h4 {
    text-transform: lowercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 10px;
}
h6 {
    text-transform: uppercase;
    font-weight: 600;
}
header {
    font-family: 'Autour One', sans-serif;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
header h1 {
    font-size: 136px;
    font-family: 'Bilbo Swash Caps', serif;
    margin-top: 20px;
}
header h2 {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 4px;
}
button {
    font-family: 'Autour One', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    cursor: pointer;
}
button:hover {
    background-color: #181E35;
    color: #FFFFFF;
}
footer {
    width: 100%;
    font-family: 'Autour One', sans-serif;
    background-color: #EFEFEF;
    padding: 5em;
    position: bottom;
}
footer img {
    width: 100px;
    float: left;
    display: inline-block;
    margin-right: 20px;
}
.footer-info {
    margin-top: 15px;
}

.nupp-tume {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/*----------------------------------------------*/



/*------------ Main page content ---------------*/
.landing header {
    padding: 20px 40px 360px 40px;
    height: 700px;
    background-image: url('img/nanny-child.jpg');
    background-size: cover;
    background-position: 0% 15%;
    background-repeat: no-repeat;
    color: #ffffff;
}
.landing header a {
    color: #ffffff;
}
.logo {
    align-items: end;
    margin: 0px 0px 0px auto;
    text-align: center;
    padding-right: 10%;
    /*So it would not be possible to select logo / slogan text */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.slogan {
    width: 35%;
    align-items: end;
    margin: 0px 0px 0px auto;
    text-align: center;
    padding-right: 5%;
}

.esimeneRida {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paisNupud {
    display: flex; /* Ensures buttons are side by side */
    gap: 20px; /* Space between buttons */
}

#valiKeel {
    width: 50px;
    height: 50px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Search bar */

.valikud {
    height: 40px;
    align-items: center;
    justify-content: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;

}
.valikud form {
    font-family: "Cambria", sans-serif;
    width: 100%;
    padding: 20px;
    line-height: 20px;
}

/*Had to define all this inline to override the bootstrap design*/
/*button .btn .btn-primary#otsi {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4b2626;
    background-color: #181E35;
    color: #FFFFFF;
    border-radius: 0;
    font-size: 12px;
    height: 40px;
    padding: .375rem .75rem;
    margin: 0;
    font-weight: 400;

}*/

#filtrid .form-control, #otsi {
    height: 40px; 
    box-sizing: border-box;
}

#filtrid .form-control {
    display: flex;
    width: 20em;
    letter-spacing: 0.5px; 
    color: rgb(36, 0, 0);
    background-color: white; 
    border: 2px solid #4b2626;
    fill: #FFFFFF;
    margin: 0;
    box-shadow: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}

#filtrid select.form-control { 
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    fill:#FFFFFF;
}


#filtrid .form-group:not(:last-child) { /*Needed to use important to override bootsrap styling*/
    margin-right: 0 !important; 
    margin-left: 0 !important; 
    
    
}

.form-inline #paevaeg,
.form-inline #paevaeg::-webkit-inner-spin-button,
.form-inline #paevaeg::-webkit-calendar-picker-indicator,
.form-inline #paevaeg::-webkit-clear-button {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
}

/* Carousel sections */
.landing .container-xl {
    max-height: 500px;
    translate: 0px -150px;
}
.carousel-container {
    background-color: #EFEFEF;
    margin-top: 250px;
    padding-bottom: 50px;
}
.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
    width: 2%;
}
#cardCarousel {
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    overflow: auto;
}
.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}
.carousel-inner .row {
    white-space: nowrap;
    overflow-x: auto;
    justify-content: space-around;
}

/* Carousel card */
.price {
    text-align: right;
    font-size: 14px;
}
.card {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    width: 18rem;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
    
}

.reiting {
    display: flex;
    align-items: center;
}

.reiting p, .reiting i {
    margin: 0;   
    vertical-align: middle; 
}

.reiting p {
    margin-right: 5px; 
}

.card #cardCarousel_daycare{
    text-align: center;
}

.card-img-top {
    object-fit: cover;
    
}

#cardCarousel_daycare .card-img-top {
    max-height: 170px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opened {
    text-align: center;
    padding-top: 20px;
}

.row #hoiud {
    font-size: 13px;
    flex: 1;

}

.cardBody {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20px;
}

/* Signup ad */
.signup-ad {
    text-align: center;
    background-color: #181E35;
    padding: 50px;
}
.signup-ad h3 {
    color: #FFFFFF;
}
.signup-ad button {
    padding: 10px 80px;
}
/*----------------------------------------------*/


/*---------------- Nanny profile ---------------*/
.nanny-profile {
    font-family: 'Bitter', sans-serif;
}
.nanny-profile section {
    margin-top: 60px;
}
.nanny-profile .row {
    margin-top: 20px;
}
.nanny-profile p {
    text-align: justify;
}
.nanny-profile h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.nanny-profile h6 {
    margin: 0;
}
.about img {
    width: 300px;
    border-radius: 50%;
}
.about th {
    padding: 0.5rem;
}
.about td {
    padding: 0.5rem;
}
.attributes i {
    float: left;
    font-size: 2rem;
    margin-right: 1rem;
}

table.table-borderless h6 {
    margin: 0;
}

table.table-borderless th, table.table-borderless td {
    vertical-align: middle;
    line-height: 1.5;
}

/* Calendar */
#calendar {
    border: 2px black solid;
    border-radius: 0px;
}
#ajadRiba {
    border: 2px black solid;
}

/*----------------------------------------------*/


/*------------------- Booking ------------------*/
.booking-page header {
    margin-bottom: 2%;
}

.booking-page form {
    width: 100%;
}

.divider {
    height: 100px;
    background-color: #181E35;
}
/*----------------------------------------------*/


/*------------ Login, password reset -----------*/
.login-page header,
.pw-reset header {
    margin-bottom: 20%;
}

.login-page form,
.pw-reset form {
    width: 50%;
}

.login-page a,
.pw-reset a {
    font-weight: 600;
}
.login-page a:hover,
.pw-reset a:hover {
    text-decoration: underline;
}

.login-page .form-group,
.pw-reset .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------------*/


/*-------------- Account bookings --------------*/
.account-bookings h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#broneeringuRida {
    border: 2px black solid;
}
#broneeringud {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.tableAccent {
    text-transform: uppercase;
    font-weight: 600;
}
#tyhista {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#tyhista:hover {
    color: #F9C6BC;
}
/*----------------------------------------------*/